* {
    margin: 0;
    padding: 0;

}

html body {
    height: 100% !important;
}

@media screen and (min-width: 890px) {

    /* ----------- SECTION 1 ----------- */

    .separator {

        left: 0;
        right: 0;
        bottom: 0.5rem !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;

    }

    div.section-1 {
        height: 32rem !important;
        width: 100%;
        background-color: #FB929E !important;
    }

    .section-1-container {
        margin: 0 auto !important;
        width: 65%;
        padding-top: 30rem;
        height: 100% !important;
    }

    .section-1-heading-1 {
        margin-right: 8rem;
        position: absolute;
        text-align: left;
        font-family: 'loveloline_light', sans-serif;
        top: 13rem;
        left: 2rem !important;
        margin: 0 !important;
        height: 5rem !important;
        color: white;
        font-size: 5vw !important;
        width: 20rem;
    }

    .section-1-heading-2 {
        margin-right: 8rem;
        position: absolute;
        font-family: 'Inter', sans-serif;
        top: 18rem;
        left: 2rem !important;
        margin: 0 !important;
        height: 3rem !important;
        color: white;
        font-size: 2.5vw !important;
        width: 20rem;
    }

    .section-1-btn-1 {
        margin-right: 8rem;
        position: absolute;
        top: 23rem;
        left: 2rem;
        width: 30vw;
        font-family: 'garetbook', sans-serif;
        color: white !important;
    }

    .section-1-btn-2 {
        margin-right: 8rem;
        position: absolute;
        top: 26rem;
        left: 2rem;
        width: 30vw;
        font-family: 'garetbook', sans-serif;
        color: white !important;
    }

    .section-1-btn-2:hover,
    .section-1-btn-1:hover {
        background-color: #AEDEFC !important;
    }

    .section-1-img {
        position: absolute;
        float: right !important;
        right: -8rem;
        bottom: 0rem;
        width: 22rem;
    }

    /* --------- SECTION 2 ---------- */

    .section-2 {
        display: flex;
        width: 100% !important;
        padding: 4rem 0;
        background-color: #FFF6F6;

    }

    .section-2-img {

        width: 100%;

    }

    .section-2-img-container {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        margin-left: 10%;
        margin-right: 5%;
        height: 100%;
        width: 35%;
        float: left;

    }

    .section-2-content {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: left;
        text-align: left;
        width: 40%;

    }

    .section-2-content-h2 {

        font-size: 3vw !important;
        font-family: 'Inter', sans-serif;
        color: #624A3C;
        font-size: 2rem;
    }

    .section-2-content-h1 {
        font-family: 'garetbook', sans-serif;
        color: #624A3C !important;
        font-size: 4vw !important;
    }

    .section-2-desc {

        font-size: 1.3vw;

    }

    /* --------- SECTION 6 --------- */

    .section-6 {
        height: 30rem;
        background-color: #FFDFDF;
    }

    .section-6-img {

        position: absolute;
        right: 5rem;
        top: 2.5rem;
        width: 28%;

    }

    .section-6-headings {

        position: absolute;
        display: flex;
        flex-flow: column;
        left: 10rem;
        top: 3rem;

    }

    .section-6-headings .heading {

        color: #624a3c;
        letter-spacing: 0.2rem;
        font-size: 3.5rem;
        font-family: 'garetbook', sans-serif;

    }

    .section-6-headings .subheading {

        color: #624a3c;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        font-family: 'Inter', sans-serif;

    }

    .section-6-headings {

        position: absolute;
        display: flex;
        flex-flow: column;
        left: 10rem;
        bottom: 3rem;

    }

    .section-6-contacts {

        position: absolute;
        display: flex;
        flex-flow: column;
        left: 10rem;
        bottom: 3rem;

    }

    .section-6-contacts .subheading {

        color: #624a3c;
        letter-spacing: 0.1rem;
        font-size: 2rem;
        font-family: 'Inter', sans-serif;

    }

    .section-6-btn {

        border-color: #624a3c !important;

    }

    .section-6-btn:hover {

        background-color: white !important;

    }

    .separator-section-6 {

       display:none !important;

    }

}



@media screen and (max-width: 890px) {

    .separator {

        left: 0;
        right: 0;
        bottom: 0.5rem !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;

    }

    div.section-1 {

        height: 25rem !important;
        width: 100%;
        background-color: #FB929E !important;

    }

    .section-1-container {
        height: 25rem;
        margin: 0 auto !important;
        width: 65%;
        padding-top: 0rem;
    }

    .section-1-heading-1 {
        margin-right: 8rem;
        position: absolute;
        text-align: left;
        font-family: 'loveloline_light', sans-serif;
        top: 10rem;
        left: 0rem !important;
        margin: 0 !important;
        height: 5rem !important;
        color: white;
        font-size: 2rem !important;
        width: 20rem;
        margin: 0 10% 0 0 !important;

    }

    .section-1-heading-2 {

        position: absolute;
        font-family: 'Inter', sans-serif;
        top: 12.7rem;
        left: 0rem !important;
        margin: 0 10% 0 0 !important;
        height: 3rem !important;
        color: white;
        font-size: 1.5rem !important;
        width: 20rem;

    }

    .section-1-btn-1 {

        position: absolute;
        top: 17rem;
        left: 0rem;
        width: 20vw;
        font-family: 'garetbook', sans-serif;
        color: white !important;
        margin: 0 10% 0 0 !important;

    }

    .section-1-btn-2 {
        position: absolute;
        top: 20rem;
        left: 0rem;
        width: 20vw;
        font-family: 'garetbook', sans-serif;
        color: white !important;
        margin: 0 10% 0 0 !important;

    }

    .section-1-img {

        position: absolute;
        float: right !important;
        right: -5rem;
        bottom: 0rem;
        width: 17rem;

    }

    /* ------- SECTION 2 ------ */

    .section-2 {
        display: flex;
        width: 100% !important;
        padding: 4rem 0;
        background-color: #FFF6F6;

    }

    .section-2-img {

        width: 100%;

    }

    .section-2-img-container {

        height: 100%;
        width: 40%;
        float: left;
        margin-left: 5%;

    }

    .section-2-content {
        display: flex;
        flex-flow: column;

        margin-left: 50%;
        text-align: left;
        width: 40%;
    }

    .section-2-content-h2 {

        font-size: 3vw !important;
        font-family: 'Inter', sans-serif;
        color: #624A3C;
        font-size: 2rem;
    }

    .section-2-content-h1 {
        font-family: 'garetbook', sans-serif;
        color: #624A3C !important;
        font-size: 4vw !important;
    }

    .section-2-desc {
        font-size: 1rem;
    }

    /* --------- SECTION 6 --------- */

    .section-6 {
        height: 40rem;
        background-color: #FFDFDF;
    }

    .section-6-img {
        padding-top:5rem;
        display: block !important;
        position: absolute;
        right: 0rem;
        top: 0rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 18rem;

    }

    .section-6-headings {

        text-align: center;
        position: absolute;
        bottom: 6rem;
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    .section-6-headings .heading {
        color: #624a3c;
        letter-spacing: 0.2rem;
        font-size: 2.5rem;
        font-family: 'garetbook', sans-serif;
    }

    .section-6-headings .subheading {
        color: #624a3c;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
    }



    .section-6-contacts {

        position: absolute;
        display: flex;
        flex-flow: column;
        left: 0;
        right: 0;
        text-align: center;
        margin: 0 auto;
        bottom: 0.5rem;

    }

    .section-6-contacts .subheading {
        color: #624a3c;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
    }

    .section-6-btn {
        border-color: #624a3c !important;
    }

    .section-6-btn:hover {
        background-color: white !important;
    }

}

@media and screen (max-width: 646px) {}
